
.footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    font-family: "Roboto", Arial, sans-serif;
}

.footer-section {
    flex: 1;
    margin: 0 10px;
}

.footer .footer-logo {
    height: 160px;
    width: 176px;
}

.footer-section h3 {
    border-bottom: 2px solid #555;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ddd;
}