
.footer {
    background-color: #333;
    color: #fff;
    display: flex;
    flex: 0;
    padding: 16px;
}

.footer-main-section {
    width: 16%;
    margin: 0 10px;
    padding-right: 3rem;
    text-align: center;
}

p{
    text-align: justify;
}

.footer-section {
    width: 16%;
    margin: 0 10px;
}

.footer .footer-logo {
    height: 160px;
    width: 176px;
}

.footer-section h3 {
    border-bottom: 2px solid #555;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ddd;
}