<div class="footer">
    <div class="footer-main-section">
        <img src="https://seeklogo.com/images/C/cinema-logo-53411DFFE5-seeklogo.com.png" alt="Logo" class="footer-logo">

        <p>
            Sistema de gerenciamento de locadora de filmes desenvolvido para consumir uma api em JAVA para a disciplina do instituto federal de orientação a objetos.
        </p>
    </div>
    <div class="footer-section">
        <h3>Desenvolvedores</h3>
        <ul>
            <li><a href="https://github.com/MatheusMonteiro8906" target="_blank">Matheus Monteiro</a></li>
        </ul>
    </div>
</div>