<section class="wrapper">
    <mat-card class="main-card">
        <mat-card-header>
            <mat-card-title><h2 class="page-title">Filmes mais alugados</h2></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="(movieList | async) as movies; else noMovies" class="movie-list">
                <div *ngIf="movies && movies.length > 0">
                    <div *ngFor="let movie of movies; let i = index" class="card-aluguel">
                        <app-card-mais-alugados [number]="i + 1" [movie]="movie"/>
                    </div>
                </div>
            </div>
            <ng-template #noMovies>
                <p class="no-movies-title">Nenhum filme encontrado!</p>
            </ng-template>
        </mat-card-content>
    </mat-card>
</section>
