.book-item {
    padding: 1.2rem;
    margin-top: 10px;
    margin: 10px;
    border: 1px solid #e6e6fa;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    height: 100%;
    width: 95%;
}


.card-title{
    font-size: 1.8em;
}

.card-subtitle {
    font-size: 1.4em;
}

.book-title {
    font-size: 1.2em;
    color: #5f4b32; 
    margin: 10px 0;
}

.book-dourado{
    border: 2.5px solid #FFD700;

    &:first-child{
        .texto-dourado{
            color: #FFD700;
        }
    }
}

.book-prata{
    border: 2.5px solid #C0C0C0;

    &:first-child{
        .texto-prata{
            color: #C0C0C0;
        }
    }
}

.book-bronze{
    border: 2.5px solid #CD7F32;
    &:first-child{
        .texto-bronze{
            color: #CD7F32;
        }
    }
}