.book-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem; 
    padding: 10px;
    margin: 2rem 0;
}

.no-books-title{
    padding: 16rem;
    font-size: 80px;
    font-weight: 600;
}