<!-- <section class="book-list">
    <div class="book-card" *ngFor="let book of books">
        <img src="path/to/generic-book-image.jpg" alt="Book Image" class="book-image">
        <h2 class="book-title">{{ book.title }}</h2>
        <p class="book-synopsis">{{ book.synopsis }}</p>
        <div class="book-actions">
            <button class="edit-button">Editar Informação</button>
            <button class="request-button">Solicitar Empréstimo</button>
            <button class="remove-button">Remover</button>
        </div>
    </div>
</section> -->

<section class="book-list">
    <div class="book-card" *ngFor="let book of AllBooks" >
        <app-card-livros [book]="book" />
    </div>
</section>