<!-- <section class="book-list">
    <div class="book-card" *ngFor="let book of books">
        <img src="path/to/generic-book-image.jpg" alt="Book Image" class="book-image">
        <h2 class="book-title">{{ book.title }}</h2>
        <p class="book-synopsis">{{ book.synopsis }}</p>
        <div class="book-actions">
            <button class="edit-button">Editar Informação</button>
            <button class="request-button">Solicitar Empréstimo</button>
            <button class="remove-button">Remover</button>
        </div>
    </div>
</section> -->

<section class="book-list">
    <div class="book-card">
        <img src="https://i.pinimg.com/736x/39/c1/24/39c124f6e987492b03f1f5aa6c259d3a.jpg" alt="Book Image" class="book-image">
        <h2 class="book-title"> Nome</h2>
        <p class="book-synopsis">sinopse</p>
        <div class="book-actions">
            <button class="edit-button">Editar Informação</button>
            <button class="request-button">Solicitar Empréstimo</button>
            <button class="remove-button">Remover</button>
        </div>
    </div>
</section>