
.book-image {
    width: 100%;
    height: auto;
}

.book-title {
    font-size: 1.2em;
    color: #5f4b32; /* Marrom */
    margin: 10px 0;
}

.book-synopsis {
    font-size: 0.9em;
    color: #333;
    padding: 0 10px;
    margin-bottom: 10px;
}

.book-actions {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #e6e6fa; /* Azul claro */
}

button {
    background-color: #5f4b32; /* Marrom */
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3e2c1e; /* Marrom mais escuro */
}