<section class="wrapper">
    <mat-card class="main-card">
        <mat-card-header>
            <mat-card-title><h2 class="page-title">Livros mais emprestados</h2></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="book-list" *ngIf="bookList.length > 0; else noBooks">
                <div *ngFor="let book of bookList; let i = index" class="card-emprestimo">
                    <app-card-mais-emprestados [number]="i + 1" [book]="book"></app-card-mais-emprestados>
                </div>
            </div>
            <ng-template #noBooks>
                <p class="no-books-title">Nenhum livro encontrado!</p>
            </ng-template>
        </mat-card-content>
    </mat-card>
</section>