<h2 mat-dialog-title class="title">Deseja alugar o filme <b>"{{ data.movie }}"</b>?</h2>
<mat-dialog-content class="subtitle">
    <p>Selecione o usuário que alugará o filme <b>"{{ data.movie }}"</b></p>

    <mat-form-field>
        <mat-label>Selecione o usuário</mat-label>
        <mat-select [(value)]="selected" required>
            <mat-option *ngFor="let user of userList$ | async" [value]="user.id">
                {{ user.nome }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="footer">
    <button mat-button (click)="onNoClick()" class="button">Voltar</button>
    <button mat-button (click)="onConfirm()" class="rent-button button" [disabled]="!selected">Alugar filme</button>
</mat-dialog-actions>