.container {
    text-align: center;
    color: #8b4513;
    font-family: "Roboto";
}
h1 {
    font-size: 3em;
    margin-bottom: 1.6em;
    margin-top: 1.6rem;
}

p {
    font-size: 1.5em;
    margin-bottom: 1em;
}
.game-container {
    margin-top: 2em;
    margin-bottom: 2em;
}