.footer{
    display: flex;
    justify-content: flex-end;
}

button{
padding: 2rem;
font-size: 1.1rem;
}

.devolution-button{
    color: var(--primary-text-color) !important;
    background-color: var(--primary-color) !important;
}

.title{
    font-size: 1.6rem;
}

.subtitle{
    font-size: 1.1rem;
}