:root {
    --primary-color: #a0522d;
    --secondary-color: #3498db;
    --primary-text-color: #e7e7e7;

  }

html, body {
     height: 100%; 
}
body {
    background-color: #f0f8ff;
     margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}