<div class="home-container">
    <h1>Bem-vindo ao Sistema de Gerenciamento de Biblioteca</h1>
    <div class="options">

        @for (PageItem of PageLinksList; track PageItem.name){
            <a routerLink={{PageItem.ref}} class="primary-button">{{PageItem.name}}</a>    
        }
<!-- 
        <a routerLink="cadastro" routerLinkActive="active" ariaCurrentWhenActive="page" class="option-button" style="cursor: pointer;">Cadastro de livros</a>
        <a href="/cadastro" class="option-button">Edição de Livros</a> -->
    </div>
</div>

